
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> INVENTOS 0.0.7</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'Dashboard/dashboard_vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'Dashboard/dashboard_css/sb-admin-2.css' %}" rel="stylesheet">

</head>
<style>
.dpace{
  padding: 30px;
  padding-bottom: 40px;

}
.form-row{
  padding-top: 5px;
  padding-bottom: 5px;
}

</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
       <!-- Sidebar -->
   <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home">
      <!-- <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div> -->
      <div class="sidebar-brand-text mx-2">INVENTOS</div>
      <img src="{% static 'Dashboard/dashboard_img/logo-icon.png' %}">
    </a>
    
    
     <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard/{{user_data.id}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/frontOffice/{{user_data.id}}">
      <i class="fas fa-fw fa-heart"></i>
      <span>Liked Products</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/OPDOutpatient/{{user_data.id}}">
      <!-- <i class="fas fa-angle-double-right"></i> -->
      <i class="fab fa-asymmetrik"></i>
      <span>Smart Devices</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/IPDInpatient/{{user_data.id}}">
      <i class="fas fa-fw fa-bed"></i>
      <!-- <i class="fas fa-house-night"></i> -->
      <!-- <i class="fas fa-house-user"></i> -->
      <span>Smart Home</span></a>
  </li>
  
  <li class="nav-item ">
    <a class="nav-link" href="/Pharmacy/{{user_data.id}}">
      
      <i class="fas fa-fw fa-microphone"></i>
      <span>InVen Assistant</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Pathology/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-flask"></i> -->
      <i class="fas fa-address-card"></i>
      <span>Gift Cards</span></a>
  </li>
      
  <li class="nav-item ">
    <a class="nav-link" href="/Radiology/{{user_data.id}}">
      <i class="fas fa-fw fa-hand-holding-heart"></i>
      <span>InVen Support</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/OperationTheatre/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-cut"></i> -->
      <i class="fas fa-cubes"></i>
      <span>Your Order History</span></a>
  </li>
  
  <li class="nav-item ">
    <a class="nav-link" href="/Ambulance/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-ambulance"></i> -->
      <i class="fas fa-grip-horizontal"></i>
      <span>Track Your Order</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Birth/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-birthday-cake"></i> -->
      <i class="fas fa-external-link-alt"></i>
      <span>Today's Top Deals</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Death/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-birthday-cake"></i> -->
      <!-- <i class="fa fa database"></i> -->
      <i class="fab fa-algolia"></i>
      <span>Payment History</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Humanresource/{{user_data.id}}">
      <!-- <i class="fas fa-fw fa-network-wired"></i> -->
      <i class="fas fa-money-check-alt"></i>
      <span>Inventos Pay</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/BedStatus/{{user_data.id}}">
      <i class="fas fa-fw fa-bullhorn"></i>
      <span>Flapship Product </span></a>
  </li>
   
  <li class="nav-item ">
    <a class="nav-link" href="/itemstock/{{user_data.id}}">
      <i class="fas fa-fw fa-network-wired"></i>
      <span>Company Profile</span></a>
  </li>
    
 
      </ul>
        
    <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <!-- Main Content -->
          <div id="content">
    
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
    
              <!-- Topbar Search -->
              <h1 class="text-left text-justify h2 mb-0 text-gray-800">Admin</h1>
    
    
              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">
    
               
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                  </a>
                  <!-- Dropdown - Alerts -->
                 
                </li>
    
                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                  </a>
                  <!-- Dropdown - Messages -->
                  
                </li>
    
                <div class="topbar-divider d-none d-sm-block"></div>
    
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      
                   ADMIN
                      
                    </span>
                    <!-- <img class="img-profile rounded-circle" src="">-->
                  </a>
               
                  
                </li>
                
                <li><div style="margin-top:10px;"><a href="/Home" class="h2 d-none text-right float-xl-right d-sm-inline-block btn btn-sm btn-primary shadow-sm text-md-right "> Logout</a>
                </div></li>
              </ul>
    
            </nav>
            <!-- End of Topbar -->
    
    
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    
      </div>
     


<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="dpace">
  <div class="row">
    <div class="col-4"><h3>Add Visitor</h3></div>
    <div class="col-8 text-right"><a href="//Frontofficevisitedit/{{user_data.id}}"><button type="button" class="btn btn-primary"><i class="fas fa-arrow-left fa-fw"></i>Back</button></a>
    </div>
  </div>    
<div>
  <form action="">
    
    <div class="form-row">
      <div class="col">
        <label for="exampleFormControlSelect1">Purpose<span style="color: red;">*</span></label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Inguiry</option>
          <option>Check up</option>
        </select>
      </div>
      <div class="col">
        <label>Name<span style="color: red;">*</span></label>  <input type="text" class="form-control" placeholder="Abhijeet">
      </div>
    </div> <div class="form-row">
      <div class="col">
        <label>Phone<span style="color: red;">*</span></label>  <input type="text" class="form-control" placeholder="+9199999999">
      </div> <div class="col">
        <label>ID Card<span style="color: red;">*</span></label>  <input type="text" class="form-control" placeholder="ABB094">
      </div>
    </div> <div class="form-row">
      <div class="col">
        <label>Number of Person<span style="color: red;">*</span></label>  <input type="text" class="form-control" placeholder="2">
      </div>
      <div class="col">
        <label>Date<span style="color: red;">*</span></label>  <input type="text" class="form-control" placeholder="12-12-2021">
      </div>
    </div>
    
  </div> <div class="form-row">
    <div class="col">
      <label>In Time<span style="color: red;">*</span></label>  <input type="text" class="form-control" >
    </div>

      <div class="col">
        <label>Out Time<span style="color: red;">*</span></label>  <input type="text" class="form-control" >
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label>Message<span style="color: red;">*</span></label>  <input type="textarea" class="form-control" >
      </div>
  
      <div class="col">
          <label>Documents<span style="color: red;">*</span></label>  <input type="file" class="form-control" >
        </div>
    
        </div>
    <div style="padding-top: 20px;" class="form-row">
      <div class="col-5"> </div>   
       <div class="col-3">
        <a href="/frontOffice/{{user_data.id}}"><button type="button" class="btn btn-primary">Cancel</button></a>
     
  
        <a href="/frontOffice/{{user_data.id}}"><button type="button" class="btn btn-primary">Save Changes</button></a>
      </div>
      <div class="col-4"> </div>
    </div>
  </form>
 
</div>
</div>

   

     
      </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

    
</body>

</html>
