{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Inventos 0.07</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'landing/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/owl.css' %}">
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>Inventos <img src="{% static 'landing/images/logo-icon.png' %}" alt=""></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#features">Customer Feedback</a></li>
              <li class="scroll-to-section"><a href="#about">Our Next Vision</a></li>
              <li class="scroll-to-section"><a href="#services">New Launches</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Inventos Store</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
              <li class="scroll-to-section1"><div class="main-blue-button"><a href="/login">Login</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      
                      <h4>Inventos </h4>
                      <h6>0.0.7</h6>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      
                      <h4>Committed To Quality</h4>
                      <!-- <h4> . Surveying.</h4> -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <!-- <h6>Schedules</h6> -->
                      <h4> Committed To You</h4>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h2> Manufacturing Industry Inventory Management Software</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <a href="#contact">Get your new product</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'landing/images/banner-right-image2.gif' %}" alt="" style="border-radius: 100px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4> A Company Of Excellence</h4>
                  <div class="line-dec"></div>
                  <p>A built-in process to assess, recognise and reward has empowered us to create a culture of excellence, and made INVENTOS the champion of quality and dependability. When you need experience, we have it covered. Build a stronger product</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Quality Is A Reproduction Of You</h4>
                  <div class="line-dec"></div>
                  <p>Quality Is More Than Making a Good Product. The first is the greater emphasis advertisements place on the word quality and on such themes as reliability, durability, and workmanship. INVENTOS work on Quality With Integrity.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Customer Satisfactory Services</h4>
                  <div class="line-dec"></div>
                  <p>A measure of how happy customers feel when they do business with INVENTOS. High-quality customer care is proactive. The needs of customers throughout the buyer’s journey are anticipated, making customers feel supported.  </p>
                </div>
              </div>
              <!-- <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Laptops</h4>
                  <div class="line-dec"></div>
                  <p>If this template is useful for your website, please consider to <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little.</p>
                </div>
              </div> -->
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Forward Thinking with INVENTOS.</h4>
                  <div class="line-dec"></div>
                  <p> INVENTOS provides gender equality. Women have been making contributions to the advancement of information technology for almost as long as the company has been in existence. Our aim provides you with quality products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="skills-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="progress" data-percentage="80">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        80%<br>
                        <span>Inventos <br>Encellence</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="progress" data-percentage="100">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        100%<br>
                        <span>Customer's on Quality</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="progress" data-percentage="90">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        90%<br>
                        <span>Customer Satisfactory</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="progress" data-percentage="100">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        100%<br>
                        <span>Gender Equality</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{% static 'landing/images/about-left-image1.gif' %}" alt="" style="border-radius: 50px;">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h6>Our Next Vision</h6>
            <!-- <h2>India's Top <em>Manufacturing</em> Industry Inventory<span> Management Software</span> </h2> -->
            <h2><em>Inventos</em> powers ahead in new renewable energy solutions with over <span> 890 suppliers</span> </h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>920+</h4>
                <h6>projects finished</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>840+</h4>
                <h6>happy clients</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>328+</h4>
                <h6>awards</h6>
              </div>
            </div>
          </div>
          <p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent">Inventos Dream:</a> “We are firmly committed to helping our suppliers become carbon neutral by 2030 and are thrilled that companies who’ve joined us span industries and countries around the world, including Germany, China, the US, India, and France,” said Sourav Kumar, Inventos’s vice president for Environment, Policy, and Social Initiatives. “</p>
          <div class="main-green-button"><a href="#">Discover Inventos</a></div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>New Lanuches</h6>
            <h2>Discover <span>Inventos</span> New Upcoming    <em>Revolutionary </em>Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>Inventos Nest Cam (Indoor, Wired)</h4>
                  <p>The indoor Nest Cam has built-in intelligent alerts that notify you when there’s activity. Press the Inventos Assistant.</p>
              
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/banner-dec-left.jpg' %}" alt="">
                </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Inventos Speaker</h4>
                <p>Just say "Hey Inventos", you can control this speaker with your voice. Listen your favourite music on the command of your voice.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Inventos Assistant</h4>
                <p>Inventos Assistant is an artificial intelligence–powered virtual assistant developed by Inventos that is primarily available on mobile and smart home devices.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image2.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Inventos Nest Mini (2nd Generation)</h4>
                <p>Meet the 2nd generation Nest Mini, the speaker you control with your voice. Just say "Hey Inventos".</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image3.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Chromecast with Inventos TV</h4>
                <p>Chromecast with Inventos TV brings you the entertainment you love, with fast streaming in up to 4K HDR</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image4.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Inventos Nest Hub Max</h4>
                <p>
                  Nest Hub Max with the Inventos Assistant helps your busy family stay in touch and on track. Leave video messages and make video calls.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image5.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Inventos Watch Pro</h4>
                <p>Inventos Watch is a wearable smartwatch that allows users to accomplish a variety of tasks, including making phone calls, sending text etc.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image7.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Inventos Smart Wi-Fi Video Doorbell
                </h4>
                <p>Inventos smart doorbell lets you know who's there, so you never miss a visitor or package. </p>
              </div>
              <div class="showed-content">
                <img src="{% static 'landing/images/portfolio-image6.jpg' %}" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Inventos Store</h6>
            <h2>Discover More <em>Inventos Product</em> and <span>Flagship Best Sellers</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-01.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Watch Pro</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p class="fa fa-star"></p>
                        <p>5,102 Ratings &amp; 4,428 Reviews</p>
                      <span>
                        GPS and Altimeter, Swimproof, Accurate Heart Rate Measuring
                      </span>
                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-02.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Speaker</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>48,572 Ratings &amp; 5,428 Reviews</p>
                      <span>
                        Inventos Nest Mini (2nd Gen) with Inventos Assistant Smart Speaker
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-03.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Charger</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>4,472 Ratings &amp; 428 Reviews</p>
                      <span>
                        G1000-IN 18 W 3.6 A Mobile Charger with Detachable Cable 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-04.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Smart Clock</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>8,172 Ratings &amp; 5,028 Reviews</p>
                      <span>
                        Home Control, Smart To Do Task
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-05.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos LAP Pro</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>7,272 Ratings &amp; 6,428 Reviews</p>
                      <span>
                        Inventos LAP PRO 13s Core i5 11th Gen - (8 GB/512 GB SSD/Win11)
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-06.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos L Pad</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>3,272 Ratings &amp; 428 Reviews</p>
                      <span>
                        Inventos Lap Pad (9th Gen) 64 GB ROM 10.2 inch with Wi-Fi+5G 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-07.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Airpod Max(2nd Gen)</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>3,272 Ratings &amp; 428 Reviews</p>
                      <span>
                        Inventos Smart Airpod Max 2nd Gen Headset 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-08.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      
                      <a href="#"><h4>Inventos Airpod</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>3,272 Ratings &amp; 428 Reviews</p>
                      <span>
                        Inventos AirPods with Charging Case Bluetooth Headset with Mic
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-09.jpg' %}" alt="">
                  <div class="hover-content">
                    <!-- <div class="inner-content"> -->
                      <div class="inner-content">
                      
                        <a href="#"><h4>Inventos Magic Keyboard</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star "></p>
                          <p class="fa fa-star"></p>
                          <p>372 Ratings &amp; 48 Reviews</p>
                        <span>
                          Inventos MLA22HN/A Magic Bluetooth Laptop Keyboard (White)
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div>  -->
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-10.jpeg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Speaker</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star"></p>
                          <p>1,372 Ratings &amp; 548 Reviews</p>
                        <span>
                          Youth Choice TG113 BLUETOOTH-SPEAKER 10 W Bluetooth  Speaker
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-11.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>iMini Speaker</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star"></p>
                          <p>7,562 Ratings &amp; 5,418 Reviews</p>
                        <span>
                          Inventos Mini TG113 BLUETOOTH-SPEAKER 10 W Bluetooth Speaker
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-12.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Ruby pro</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p>7,382 Ratings &amp; 6,808 Reviews</p>
                        <span>
                          Inventos G Phone 13 Pro Max (Sierra Blue, 256 GB) 
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-13.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen SmartTV </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p>7K+ Ratings &amp; 891 Reviews</p>
                      <span>
                        Inventos iPlus Y Series 108 cm (43 inch) Full HD LED Smart Android TV
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-14.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Powerbank </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>24,372 Ratings &amp; 13,548 Reviews</p>
                      <span>
                        Inventos 3i 20000 mAh Power Bank (Fast Charging, 18W) 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-15.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Fit Band </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star "></p>
                        <p class="fa fa-star"></p>
                        <p>11,372 Ratings &amp; 4,856 Reviews</p>
                      <span>
                        Battery Life: Up to 14 days of battery life; 24hr
                        Heart Rate Monitoring
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-16.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Smart Lamp Pro </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p>2,845 Ratings &amp; 1,001 Reviews</p>
                      <span>
                          1 LED Smart Lamp, Power Adapter, Inventos Assistant Controllable
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-17.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Nest Cam  </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p>4,372 Ratings &amp; 548 Reviews</p>
                      <span>
                        The indoor Nest Cam has built-in intelligent alerts that notify you all activity
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-18.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Nest Hub  </h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p>5,685 Ratings &amp; 3,121 Reviews</p>
                      <span>
                        Nest Hub Max with the Inventos Assistant helps your family stay in touch.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{{% static 'landing/images/portfolio-19.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Smart Speaker 3i</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star"></p>
                          <p>3,458 Ratings &amp; 125 Reviews</p>
                        <span>
                          Youth Choice TG113 BLUETOOTH-SPEAKER 10 Laptop/Desktop Speaker
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-20.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Smart Bell</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p>11,580 Ratings &amp; 8,691 Reviews</p>
                        <span>
                          Inventos smart doorbell lets you know who's there.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-21.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>iChrome Cast</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star "></p>
                          <p class="fa fa-star"></p>
                          <p>8,567 Ratings &amp; 910 Reviews</p>
                        <span>
                          Chromecast with Inventos TV brings fast streaming upto 4K HDR.
                        </span>
                    
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-22.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Router</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star "></p>
                          <p class="fa fa-star"></p>
                          <p>4,894 Ratings &amp; 897 Reviews</p>
                        <span>
                           DAP-1325 300 Mbps WiFi Range Extender(Black, Single Band)
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-23.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>InVen Smart AC</h4></a>
                        <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p class="fa fa-star checked"></p>
                          <p>372 Ratings &amp; 56 Reviews</p>
                        <span>
                          Inventos 1 Ton 5 Star Split Inverter AC with Wi-fi Connect - White
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'landing/images/portfolio-24.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Inventos Magic Mouse</h4></a>
                      <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star checked"></p>
                        <p class="fa fa-star"></p>
                        <p>586 Ratings &amp; 45 Reviews</p>
                      <span>
                        Inventos MLA02ZM/A Magic 2 Wireless Touch Mouse with Bluetooth 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       
         <!--Contact Form Start -->
        

         <div id="contact" class="contact-us section">
          <div class="container">
            <div class="row">
              
              <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="/contact_form_submission" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                      <div class="section-heading11">
                        <div class="section-heading1">
                          <h6>Contact Us</h6>
                          <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                        </div>
                        <div class="section-heading2">
                          <img src="{% static 'landing/images/portfolio-26.gif' %}" alt="email icon" style="border-radius: 50px;  ">
                        </div>
                      </div>
                    </div>
                     <!--alert box display-->
         {% for i in messages %}
         {% if 'contact_msg' in i.tags %}
         <h3 style="color: rgb(68, 0, 255);">{{i}}</h3>
         {% endif %}
        {% endfor %}
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="name" name="your_name" id="name" placeholder="Name" autocomplete="on" required>
                          </fieldset>
                        </div>
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                          </fieldset>
                        </div>
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="email" name="email_id" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                          </fieldset>
                        </div>
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                          </fieldset>
                        </div>
                      </div>
                    </div>
              <div class="col-lg-3">
                
                <div class="contact-info">
                  
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="{% static 'landing/images/contact-icon-01.png' %}" alt="email icon">
                      </div>
                      <a href="#">info@company.com</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{% static 'landing/images/contact-icon-02.png' %}" alt="phone">
                      </div>
                      <a href="#">+001-002-0034</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{% static 'landing/images/contact-icon-03.png' %}" alt="location">
                      </div>
                      <a href="#">26th Street, Digital Villa</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 Inventos Software Ltd. All Rights Reserved. 
          
          <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">Inventos Software </a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{% static 'landing/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'landing/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landing/js/owl-carousel.js' %}"></script>
  <script src="{% static 'landing/js/animation.js' %}"></script>
  <script src="{% static 'landing/js/imagesloaded.js' %}"></script>
  <script src="{% static 'landing/js/custom.js' %}"></script>

</body>
</html>